<div>
    <div id="about">
        <h2>Me</h2>
        <div>
            <p>熬过了学生时代，还过着学生一样的生活，看论文，写代码，追番，打篮球。</p>
            <p>喜欢推理小说和古龙式武侠，是个死理性派。</p>
            <p>不修边幅，喜欢独处。</p>
            <p>依旧幻想着自己有一天能实现财务自由，然后跑去读一个数学方向的 PhD。</p>
            <p>打工是不想打工的，这辈子都不想打工的，但是又没有人偷电动车养我，我也很绝望啊，只能先给别人打工去了。</p>
            <p>Remote > Independent Developer > Work > Startup</p>
        </div>
    </div>

    <div id="contact">
        <h2>Contact</h2>
        <div>
            <p>
                <img src="{{ '/assets/img/email.png' | relative_url }}" alt="Email" width="15">
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </p>
            <p>
                <img src="{{ '/assets/img/github.png' | relative_url }}" alt="GitHub" width="15">
                <a href="https://github.com/{{ site.github_username }}" target="_blank">{{ site.github_username }}</a>
            </p>
            <p>
                <img src="{{ '/assets/img/rss.png' | relative_url }}" alt="RSS" width="15">
                <a href="feed.xml" target="_blank">RSS</a>
            </p>
        </div>
    </div>

    <div class="site">
        <h2>Site</h2>
        <ul>
            {% for person in site.data.site %}
            <li>
                <a href="{{ person.url }}" target="_blank">{{ person.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
